/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/.swagger*
/lib/*
/.vscode/*
/public/heatmap/*
/public/reports/*
/public/sizing/*
/public/uploads/*
/public/timeBased/*
/public/heatExchange/*
/public/productSection/*
/storage/app/*

