<?php

/**
 * CRYOSOFT API
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 0.0.1
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

/**
 * CRYOSOFT API
 * @version 0.0.1
 */

$router->get('/', function () use ($router) {
    return $router->app->version();
});
/**
 * PUT createStudy
 * Summary: 
 * Notes: create a new study
 * Output-Formats: [application/json]
 */
$router->PUT('/api/v1/studies', 'Api1\\Studies@createStudy');
/**
 * GET findStudies
 * Summary: 
 * Notes: Get a list of studies
 * Output-Formats: [application/json]
 */
$router->GET('/api/v1/studies', 'Api1\\Studies@findStudies');
/**
 * DELETE deleteStudyById
 * Summary: 
 * Notes: 
 * Output-Formats: [application/json]
 */
$router->DELETE('/api/v1/studies/{id}', 'Api1\\Studies@deleteStudyById');
/**
 * GET getStudyById
 * Summary: 
 * Notes: 
 * Output-Formats: [application/json]
 */
$router->GET('/api/v1/studies/{id}', 'Api1\\Studies@getStudyById');
/**
 * PUT saveStudyAs
 * Summary: 
 * Notes: 
 * Output-Formats: [application/json]
 */
$router->PUT('/api/v1/studies/{id}/clone', 'Api1\\Studies@saveStudyAs');
/**
 * GET refreshMesh
 * Summary: 
 * Notes: 
 * Output-Formats: [application/json]
 */
$router->GET('/api/v1/studies/{id}/refreshMesh', 'Api1\\Studies@refreshMesh');
/**
 * GET openStudy
 * Summary: 
 * Notes: 
 * Output-Formats: [application/json]
 */
$router->GET('/api/v1/studies/{id}/open', 'Api1\\Studies@openStudy');

/**
 * GET getProductionById
 * Summary: 
 * Notes: get production by id
 * Output-Formats: [application/json]
 */
$router->GET('/api/v1/productions/{id}', 'Api1\\Productions@getProductionById');

/**
 * GET getEquipments
 * Summary: 
 * Notes: get all available equipments
 * Output-Formats: [application/json]
 */
$router->GET('/api/v1/equipments', 'Api1\\Equipments@getEquipments');
/**
 * GET getEquipmentById
 * Summary: 
 * Notes: get equipment by id
 * Output-Formats: [application/json]
 */
$router->GET('/api/v1/equipments/{id}', 'Api1\\Equipments@getEquipmentById');
/**
 * GET packingElementsGet
 * Summary: 
 * Notes: get available packing elements
 * Output-Formats: [application/json]
 */
$router->GET('/api/v1/packingElements', 'Api1\\PackingElements@findPackingElements');
/**
 * GET shapesGet
 * Summary: 
 * Notes: get available shapes
 * Output-Formats: [application/json]
 */
$router->GET('/api/v1/shapes', 'Api1\\Shapes@getShapes');